.ofm-design-v1 {
    .image-bg-2,
    .image-bg {
        border-radius: 0.5rem;
        width: 6rem;

        @media (min-width: 768px) {
            width: 8rem;
        }
    }

    .ofm-product {
        gap: 1rem;

        @media (min-width: 768px) {
            // padding: 1.25rem;
        }
    }

    .ofm-category {

        &__items {
            // display: grid;
            // grid-template-columns: 1fr;
            // padding: 0.5rem 0;
            // gap: 1rem;
        
            // @media (min-width: 768px) {
            //     grid-template-columns: repeat(2, minmax(0, 1fr));
            // }

            @media (min-width: 1024px) {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }

        .ofm-product {
            &__desc {
                font-size: 14px;
            }
        }
    }
}