.ofm-design-v1 {
    .image-container,
    .product-image {
        border-radius: 0.5rem;
        width: 7rem;

        @media (min-width: 768px) {
            width: 8rem;
        }

        @media (min-width: 1024px) {
            width: 9rem;
        }
    }

    .ofm-product {
        gap: 1rem;
    }

    .ofm-category {

        &__items {

            @media (min-width: 1024px) {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }
    }
}