.ofm-design-v2 {
    .ofm-product {
        flex-direction: column;
        height: auto;
        width: 18rem;
        scroll-snap-align: center;
        flex-shrink: 0;

        &__info {
            padding-top: 1rem;
        }
    }

    .image-container,
        .product-image {
            border-radius: 0.75rem;
            height: 14rem
        }

        .ofm-category {
            &__items {
                display: flex;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                padding-left: .25rem;
                padding-right: .25rem;
        }
    }
}