.ofm-design-v3 {
    &.one-food-menu {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .image-container,
        .product-image {
            border-radius: 999px;
            height: 4rem;
            width: 4rem;

            @media (min-width: 768px) {
                height: 5rem;
                width: 5rem;
            }
        }

    .ofm-product {
        border-radius: 3.75rem;
        padding: .5rem;
        align-items: center;
        gap: 1rem;
        height: auto;        
        
    }

    //in grid only

    .ofm-category {

        &__description {
            text-align: center;
            padding: 0 20px;
        }

        &__items {
            @media (min-width: 768px) {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }

        .ofm-product {
            &__info {
                padding-right: 1.5rem;
                gap: 0.25rem;
                flex-direction: row;
                justify-content: space-between;
            }

            // &__title {
            //     font-size: 1rem;

            //     @media (min-width: 768px) {
            //         font-size: 1.5rem;
            //     }
            // }

            .out-of-stock-label {
                padding-left: 40px;
                padding-right: 40px;
            }

            &__size {
                display: none;
            }
           
        }

    }

    .ofm-category, .ofm-allergens {
        &__title {
            text-align: center;
        }               
    }

    .ofm-tab, .ofm-allergens__item {
        border-radius: 3.75rem;
    }

}