.ofm-allergens {
    &__item {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &__name {
        width: 3rem;
        height: 3rem;
        display: grid;
        place-content: center;
        background-color: var(--ofm-bg-color);
        border-radius: 999px;
    }

    &__desc {

    }
}