.ofm-allergens {

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        padding: .5rem 0;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: var(--ofm-border-radius);
        border: 1px dashed var(--ofm-border-color);

        .allergen-name {
            font-weight: 500;
        }

        .allergen-description {
            font-size: var(--ofm-font-size-base);
            opacity: 0.7;
        }

    }
}