.ofm-design {
    &-v1 {
        .image-bg-2,  .image-bg {
            border-top-left-radius: 0.75rem;
            border-bottom-left-radius: 0.75rem;
            width: 10rem;

            @media (min-width: 768px) {
                width: 12rem;
            }
        }
    }

    &-v2 {
        .ofm-category {
            overflow: hidden;
        }
    }

    &-v3 {

    }

    &-v4 {
       .ofm-category {
        margin: 0 auto 5rem auto;
            max-width: 768px;
       }
    }
}