.ofm-design {
    &-v1 {
        .image-bg-2,  .image-bg {
            border-top-left-radius: 0.75rem;
            border-bottom-left-radius: 0.75rem;
            width: 10rem;
        }
    }

    &-v2 {

    }

    &-v3 {

    }

    &-v4 {
       
    }
}