.ofm-category,
.ofm-allergens {
    margin-bottom: 2.5rem;
    position: relative;

    &__title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2;
        color: var(--ofm-category-title-color, var(--ofm-txt-color));
    }
}

.ofm-category {
    &__items {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0.5rem 0;
        gap: 1rem;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

.ofm-category:last-of-type {
    margin-top: 0rem;
}

.ofm-category .ofm-category__description {
    margin: 6px 0;
    opacity: .7;
    line-height: 1.4;
}

.ofm-category .image-container {
    border: 1px solid var(--ofm-soft-bg-color);
}