

.ofm-category-tabs {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 0.5rem 0;
}

.ofm-cat-tab {
    padding: 0.5rem .75rem;
    border-radius: calc(var(--ofm-border-radius) - 0.25rem);
    background: var(--ofm-cat-tab-bg-color);
    border: 1.5px solid var(--ofm-cat-tab-border-color, var(--ofm-brand-color));
    color: var(--ofm-cat-tab-txt-color, var(--ofm-brand-color));
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: calc(var(--ofm-font-size-base) + 2px);
    flex-shrink: 0;

    &:hover {
        opacity: 0.8;
    }

    &.active, &:hover {
        background: var(--ofm-brand-color);
        border-color: var(--ofm-brand-color);
        color: white;
    }
}

