

.ofm-category-tabs {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    justify-content: center;

    @media (min-width: 768px) {
        justify-content: flex-start;
    }

}

.ofm-tab {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: var(--ofm-tab-bg-color);
    color: var(--ofm-tab-color);
    cursor: pointer;
    border: 1px solid var(--ofm-border-color);
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.8;
    }

    &.active {
        background: var(--ofm-brand-color);
        color: white;
    }
}

