
:root {
    --ofm-border-color: #{$border-color};
    --ofm-bg-color: #{$bg-color};
    --ofm-tag-color: #{$tag-color};
    --ofm-font-family:  ui-sans-serif,
     system-ui,
     -apple-system,
     BlinkMacSystemFont,
     "Segoe UI",
     Roboto,
     "Helvetica Neue",
     Arial,
     "Noto Sans",
     sans-serif;
}