
.ofm-modal {

    &-wrapper {
        padding: .5rem;
        width: 100%;
        min-height: 100dvh;
        display: flex;
        z-index: 99;
        left: 0;
        top: 0;
        position: fixed;
    }

    &-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.2s ease-out;
    }

    &-container {
        background-color: var(--ofm-card-color);
        color: var(--ofm-text-color);
        border-radius: .75rem;
        overflow: hidden;
        flex-direction: column;
        flex: 1 1 0%;
        max-width: calc(100% - 1rem);
        width: 100%;
        max-height: calc(100dvh - 1rem);
        display: flex;
        margin: auto;
        z-index: 10;
        position: relative;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
        box-shadow:
        0px 0px 0px 1px rgba(0, 0, 0, 0.05),
        0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 30px 45px -7px rgba(0, 0, 0, 0.15);
        
        // Tablet/Desktop
        @media (min-width: 640px) {
            max-width: 420px; // Good width for readability and content
        }
    
        // Optional: Larger screens
        @media (min-width: 1024px) {
            max-width: 520px; // Slightly wider for larger screens
        }
    }

    &-close {
        padding: .5rem;
        background-color: rgba(255, 255, 255, 0.75);
        top: .5rem;
        right: .5rem;
        position: absolute;
        cursor: pointer;
        border-radius: 9999px;
        display: flex;

        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &-content {
        overflow-y: auto;
        flex: 1 1 0%;
        height: 100%;

        .product-image, .image-container {
            aspect-ratio: 1/1;
            height: auto;
            width: 100%;
            flex-shrink: 0;
            border-radius: 0;
        }
    }

    &-allergens {
        background-color: var(--ofm-soft-bg-color);
        border: 1px dashed var(--ofm-border-color);
        padding: 10px 8px;
        border-radius: 4px;

        &__item + .ofm-modal-allergens__item {
            margin-top: 10px;
        }
    }


    //product
    .ofm-product {

        &__info {
            padding: 1rem;
        }

        &__title {
            font-size: 1.5rem;
        }
    }
}

//animations
.modal-show .ofm-modal-backdrop {
    opacity: 1;
}

.modal-show .ofm-modal-container {
    opacity: 1;
    transform: translateY(0);
}

.modal-hide .ofm-modal-backdrop {
    opacity: 0;
}

.modal-hide .ofm-modal-container {
    opacity: 0;
    transform: translateY(20px);
}