
.ofm-modal {
    padding: .5rem;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    z-index: 99;
    left: 0;
    top: 0;
    position: fixed;

    &-backdrop {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        min-height: 100dvh;
        height: 100%;
        left: 0;
        top: 0;
        position: fixed;
    }

    &-container {
        background-color: #fff;
        border-radius: .75rem;
        overflow: hidden;
        flex-direction: column;
        flex: 1 1 0%;
        max-width: 375px;
        width: 100%;
        max-height: calc(100dvh - 1rem);
        display: flex;
        margin: auto;
        z-index: 10;
        position: relative;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }

    &-close {
        padding: .5rem;
        background-color: #fff;
        top: .5rem;
        right: .5rem;
        position: absolute;
        cursor: pointer;
        border-radius: 9999px;
        display: flex;

        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &-content {
        overflow-y: auto;
        flex: 1 1 0%;
        height: 100%;

        .image-bg {
            height: 20rem;
            width: 100%;
            flex-shrink: 0;
            border-radius: 0;
        }

        &__text {
            padding: 1rem;
            flex-direction: column;
            flex-grow: 1;
            display: flex;
        }

                .ofm-product__options {
                    padding: 0.5rem 0;
                }

        .ofm-product__options:not(:first-child) {
            border-top:1px dashed $border-color;
        }

        .ofm-product__title {
            margin-bottom: 1rem;
        }
    }
}
