.ofm-controls {
    margin-top: 2.5rem;
}

.ofm-controls + .ofm-items {
    margin-top: 1rem;
}

.ofm-credits {
    text-align: center;
    margin: 1.5rem auto;
    opacity: .7;
    font-size: 12px;
}